.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
*.tfvars
!*.tfvars.example
.terraformrc
terraform.rc
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.DS_Store
